@font-face {
    font-family: "United";
    src: url("united_sans_medium.woff2") format("woff2");
}

@font-face {
    font-family: "Sharetech";
    src: url("ShareTechMono-Regular.ttf");
}

html, body {
    /*scrollbar-color: #444 #111 !important;     */
    color: #ccc;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    font-family: United;
    font-size: 16px;
    overflow: hidden;
/*    background: url("background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
    cursor: default;
}

@keyframes animatedBackground {
    0% {
        transform: perspective(1280px) rotateX(0deg) translateZ(0) translateX(0) translateY(0);
    }
    100% {
        transform: perspective(1280px) rotateX(60deg) translateZ(0) translateX(0) translateY(0);
    } 
}


#background1 {
    background: radial-gradient(at center bottom, rgb(63, 0, 0) 0%, #000 100%) no-repeat;
    background-size: 100vw 100vh;
    width: 100vw;
    height: 100vh;
    z-index: -2;
    position: fixed;
}


#background2 {
    width: 200vw;
    height: 400vh;
    z-index: -1;
    position: fixed;
    top: -100vh;
    left: -50vw;
    transform-origin: center;
    background:
        radial-gradient(rgba(153, 51, 0, 0.4) 2.5px, transparent 1px),
        linear-gradient(0deg, rgba(153, 51, 0, 0.1) 2px, transparent 1px),
        linear-gradient(90deg, rgba(153, 51, 0, 0.1) 2px, transparent 1px);
    transform: perspective(1280px) rotateX(30deg) translateY(-100vh);
    background-position: 0 0, 32px 32px, 32px 32px;
    background-size: 64px 64px;
    background-attachment: fixed;
    /*transition: all 8s ease;*/
    /*animation: animatedBackground 5s linear infinite;*/
}

td, th {
    border: 1px dashed #ccc;
    padding: 1em;
    text-align: center;
}
table {
    border-collapse: collapse;
}
th {
    font-weight: normal;
    text-decoration: underline;
}
ul {
    list-style: square;
}
h1, h2, h3 {
    margin-top: 2em;
    text-decoration: underline;
    color: rgba(255, 85, 0, 0.9);
}

div.demo {
    width: 640px;
    height: 160px;
}

div.demo2 {
    width: 312px;
    height: 160px;
}

div.demo3 {
    width: 312px;
    height: 160px;
}

div.demo4 {
    width: 312px;
    height: 160px;
}

div.title {
    padding: 4px 0 2px 0;
    /*border-bottom: 1px solid rgba(255, 85, 0, 0.8);*/
}


div.title-lit {
    background: rgba(255, 85, 0, 0.8);
    color: white;
}

/* ************************************************** */

#master {
    height: calc(100vh - 3em)!important;
    margin: 0 auto;
    transition: 0.2s;
}

#function-keys {
    --aug-border: 1px;
    --aug-inset: 0px;
    text-align: center;
    --aug-inset-bg:  linear-gradient(#222, #333);
    --aug-tl-width: 4.8em;
    --aug-tl-height: 10px;
    --aug-tr-width: 4.8em;
    --aug-tr-height: 10px;
    --aug-border-bg: #444;
    width: calc(100vw + 4px);
    position: fixed;
    bottom: -2px;
    left: -2px;
    padding-top: 0.5em;
    box-sizing: border-box;
    padding-bottom: 4px;
    padding-left: 80px;
    padding-right: 80px;
}

#function-keys * {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-family: Sharetech;
    font-size: 12px;
}

.fslot {
    width: 8vw;
    min-width: 8em;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-bottom: 1px solid #444;
    border-right: 1px solid #444;
    text-align: left;
    background: #333;
    margin-bottom: 4px !important;
    margin-left: 1px;
    margin-right: 1px;
}

.fkey {
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    width: 1.25vw;
    min-width: 1.25em;
    text-align: center;
    background: #333;
    color: #999;
}

.fcom {
    width: calc(6.75vw - 11px);
    min-width: calc(6.75em - 11px);
    background: rgba(255, 85, 0, 0.25);
    padding-left: 8px !important;
    transition: 0.1s;
    transition-timing-function: step-end; 
}

.fcom.pressed {
    background: rgba(255, 85, 0, 1.0);
    color: black;
    transition: 0s;
}

div.screen {
    cursor: none;
    margin-bottom: 16px;
    margin-left: 16px;
    --aug-border: 2px;
    --aug-inset: 0px;
    text-align: center;
    --aug-inset-bg:  rgba(255, 85, 0, 0.2);
    --aug-br-width: 10px;
    --aug-br-height: 60px;
    --aug-border-bg: rgba(255, 85, 0, 0.8);
    padding: 0;
}

#sound-toggle, #fullscreen-toggle {
    position: fixed;
    bottom: 2px;
    width: 4em;
    border-top: 1px solid #444;
    border-left: 1px solid #444;
    border-bottom: 1px solid #222;
    border-right: 1px solid #222;
    background: #333;
    color: #999;
    padding-left: 4px;
    padding-right: 4px;
}

#sound-toggle {
    left: 4px;
}

#fullscreen-toggle {
    right: 4px;
}

#sound-toggle.on, #fullscreen-toggle.on {
    color: #ffaa00;
}

