@font-face {
    font-family: "United";
    src: url("united_sans_medium.woff2") format("woff2");
}

@font-face {
    font-family: "Sharetech";
    src: url("ShareTechMono-Regular.ttf");
}

html, body {
    scrollbar-color: #444 #111 !important;     
    color: #ccc;
    margin: 0;
    padding: 0;
}

body {
    font-family: United;
    font-size: 16px;
    background: #000;
/*    background: url("background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;*/
}

#term-input, #term-output {
    font-family: Sharetech;
    font-size: 16px;
}

#bodiv {
    width: 150vw;
    height: 150vh;
    z-index: -1;
    position: fixed;
    top: -25vh;
    left: -25vw;
    transform: perspective(1920px) rotateX(30deg);
    background:
        radial-gradient(#930 1px, transparent 1px),
        linear-gradient(0deg, rgba(153, 51, 0, 0.2) 1px, transparent 1px),
        linear-gradient(90deg, rgba(153, 51, 0, 0.2) 1px, transparent 1px);
    background-position: 0 0, 32px 32px, 32px 32px;
    background-size: 64px 64px;
    background-attachment: fixed;
}

#term-input, #term-userzone {
    background: #333;
    border: none;
    outline: none;
}
#prompt {
    float: left;
    flex-shrink: 0;
    flex-grow: 1;
}
#term-input {
    flex-basis: 100%;
    flex-shrink: 1;
    flex-grow: 0;
    resize: vertical;
}
#term-userzone {
    display: flex;
}
td, th {
    border: 1px dashed #ccc;
    padding: 1em;
    text-align: center;
}
table {
    border-collapse: collapse;
}
th {
    font-weight: normal;
    text-decoration: underline;
}
ul {
    list-style: square;
}
h1, h2, h3 {
    margin-top: 2em;
    text-decoration: underline;
    color: rgba(255, 85, 0, 0.9);
}
/* https://2ality.com/2012/01/numbering-headingshtml.html */
h1 {
    counter-reset: h2counter;
}
h2 {
    counter-reset: h3counter;
}
h2:before {
    content: counter(h2counter) ".\0000a0";
    counter-increment: h2counter;
}
h3:before {
    content: counter(h2counter) "." counter(h3counter) ".\0000a0";
    counter-increment: h3counter;
}

div.demo {
    display: inline-block;
    width: 640px;
    height: 160px;
    margin: 10px;
    --aug-border: 2px;
    --aug-inset: 0px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-inset-bg:  rgba(255, 85, 0, 0.2);
    --aug-br-width: 10px;
    --aug-br-height: 60px;
    --aug-border-bg: rgba(255, 85, 0, 0.8);
}

div.demo2 {
    display: inline-block;
    width: 320px;
    height: 160px;
    margin: 10px;
    --aug-border: 2px;
    --aug-inset: 0px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-inset-bg:  transparent;
    --aug-br-width: 10px;
    --aug-br-height: 60px;
    --aug-border-bg: #999;
}

div.demo3 {
    display: inline-block;
    width: 320px;
    height: 160px;
    margin: 10px;
    --aug-border: 2px;
    --aug-inset: 0px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-inset-bg:  rgba(255, 85, 0, 0.2);
    --aug-br-width: 10px;
    --aug-br-height: 60px;
    --aug-border-bg: #999;
}

div.demo4 {
    display: inline-block;
    width: 320px;
    height: 160px;
    margin: 10px;
    --aug-border: 2px;
    --aug-inset: 0px;
    padding: 10px; /* mind the gap */
    text-align: center;
    --aug-inset-bg:  rgba(255, 85, 0, 0.2);
    --aug-br-width: 10px;
    --aug-br-height: 60px;
    --aug-border-bg: rgba(255, 85, 0, 0.8);
    padding: 0;
}

div.title-lit {
    background: rgba(255, 85, 0, 0.8);
    color: white;
    padding: 4px 0 2px 0;
}






